.idea/
*.iml
target/
.Jenkinsfile.swp
manifests/.deploy-microservice.yml.swp
**/*.swp
tools/terraform/plan.out
tools/terraform/terraform.tfstate
tools/terraform/terraform.tfstate.backup
tools/terraform/.terraform/
