Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Description: Application built by Quarkus
Maintainer: dhinojosa@evolutionnext.com
Depends: openjdk-11-jdk | openjdk-11-jre-headless, procps, openssh-server
