Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Description: Application built by Quarkus
Maintainer: dhinojosa@evolutionnext.com
Depends: default-jre | openjdk-11-jre | procps
