Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Description: Application built by Quarkus
Maintainer: dhinojosa@evolutionnext.com
Depends: openjdk-17-jdk | openjdk-17-jre-headless, procps, openssh-server
